<IfModule mod_rewrite.c>
#RewriteEngine On

#RewriteRule ^user/?([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/?$ userlayout.php?name=dev&i=$2 [L]
#RewriteRule ^ref/?([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/?$ referensi.php?name=dev&function=$2 [L]
#RewriteRule ^ref/?([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/?$ referensi.php?name=dev&function=$2&id=$3 [L]
#RewriteRule ^/?([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/?$ home.php?name=dev&i=$2 [L]
#RewriteRule ^/?([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/?$ home.php?name=dev&i=$2&id=$3 [L]
#RewriteRule ^referensi/?([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/?$ home.php?name=dev&i=$2&id=$3 [L]

</IfModule>
SetEnv Root C:\xampp\htdocs/pergudangan/
SetEnv BaseUrl http://localhost/pergudangan/
SetEnv BaseModel ../model/
SetEnv BaseControl ../controler/
SetEnv BaseView http://localhost/pergudangan/view/
SetEnv Title "Sistem Pergudangan"


ErrorDocument 404 http://localhost/pergudangan/view/404.php
